---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<p>
  You can also find my articles on
  <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
</p>

{% include base_path %}

<h2>Journal Articles</h2>
{% for post in site.publications %}
  {% if post.pubtype == "journal" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<hr>

<h2>Conference Presentations</h2>
{% for post in site.publications %}
  {% if post.pubtype == "conference" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

